body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cena {
	position:relative;
    flex-basis: 40%;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 5px;
    text-align: left; 
}

 .imagem-cena {
      border-radius: 20%;
    }

.ordem {
    position: absolute;
    top: -15px;
    left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FF820F;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.ordem.verde {
    background: #A2D01F;
}

@media (max-width: 1300px) {
    .cena {
        flex-basis: 80%;
    }
}

.cena img {
    display: block;
    margin: 0 auto;
    max-width: 60%;
	
}

.cena-em-foco {
    border: 2px solid #ff0000; /* Destaca com uma borda vermelha */
}

.cena audio {
    width: 100%;
}
.title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container h1 {
    width: 100%;
    text-align: center;
}

.title-container .spacer {
    flex-grow: 1;
    text-align: center;
}

.container .proximo {
	position:fixed;
	right:8px;
    padding: 2px 4px;
	font-size:32px;

}

.container .podcast {
	margin-right:20px;
    padding: 2px 4px;
	font-size:16px;
	cursor:pointer;
}

.container .narrarOtimizado {
	margin-right:20px;
    padding: 2px 4px;
	font-size:16px;
	width:300px;
		cursor:pointer;
	
}

.container .narrarTudo {
	margin-right:40px;
    padding: 2px 4px;
	font-size:16px;
	width:250px;
		cursor:pointer;
}

.container .printVersion {
	margin-right:80px;
    padding: 2px 4px;
	font-size:16px;
		cursor:pointer;
}


.container .home {
	margin-right:40px;
    padding: 2px 4px;
	font-size:16px;
	cursor:pointer;
}





